body {
    background-color: #ffffff;
}

html{
    min-width: 100%;
    max-width: 900px;
    overflow: auto;
}

#deckName {
    padding-left: 5%;
}

#upArrow {
    display: table;
    text-align: center;
    background-color: #cccccc;
    width: 50%;
    margin: auto;
    min-height: 40px;
}
#upArrow:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#flashcardBackground {
    background-color: #333333;
    margin: auto;
    width: 80%;
    padding: 5%;
    min-height: 180px;
    position: relative;
}
#flashcardBackground h2 {
    color: #cccccc;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#flashcardBackground p {
    color: #cccccc;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

#downArrow {
    display: table;
    text-align: center;
    background-color: #cccccc;
    width: 50%;
    margin: auto;
    min-height: 40px;
}
#downArrow:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#prevNextBlocks {
    text-align: center;
}

#previousCard {
    margin: auto;
    text-align: center;
    display: inline-block;
    background-color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
}
#previousCard:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#nextCardButton {
    margin: auto;
    text-align: center;
    display: inline-block;
    background-color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
}
#nextCardButton:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

