body {
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
}

html{
    min-width: 100%;
    max-width: 900px;
    overflow: auto;
}

#cardHeader {
    margin-top: 2%;
}

#deckName {
    padding-left: 5%;
    display: inline;
}

#cardSettingsButton {
    display: inline;
    position: relative;
    margin-left: 60%;
    background: #cccccc;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
#cardSettingsButton:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#settingsPanel {
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 13%;
    z-index: 99;
    min-height: 200px;
    opacity: 0;
    background: #cccccc;
    border: 3px solid #ff0000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
    border-radius: 5px;
}
#settingsPanel h3 {
    margin-left: 10%;
}
#settingsPanel p {
    margin-left: 10%;
}

#firstCardSideSelector {
    text-align: center;
    background-color: #ffffff;
    width: fit-content;
    margin: auto;
    min-height: 40px;
    margin-left: 10%;
}
#firstCardSideSelector:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#settingsActions {
    margin-top: 2%;
    margin-left: 10%;
}

#settingsApply {
    text-align: center;
    background-color: #ffffff;
    width: fit-content;
    min-height: 40px;
    border-radius: 5px;
}
#settingsApply:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#settingsCancel {
    text-align: center;
    background-color: #ffffff;
    width: fit-content;
    min-height: 40px;
    border-radius: 5px;
}
#settingsCancel:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#screenDarken {
    position: absolute;
    z-index: 98;
    background-color: #333333;
    height: 100vh;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
}

#upArrow {
    display: table;
    text-align: center;
    background-color: #cccccc;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    min-height: 40px;
    min-width: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#upArrow:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#flashcardBackground {
    background-color: #333333;
    margin: auto;
    width: 80%;
    padding: 5%;
    min-height: 180px;
    position: relative;
    border-radius: 5px;
}
#flashcardBackground h2 {
    color: #cccccc;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#flashcardBackground p {
    color: #cccccc;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15px;
}

#downArrow {
    display: table;
    text-align: center;
    background-color: #cccccc;
    width: 50%;
    margin: auto;
    min-height: 40px;
    min-width: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#downArrow:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#prevNextBlocks {
    text-align: center;
}

#previousCardButton {
    margin: auto;
    text-align: center;
    display: inline-block;
    background-color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
}
#previousCardButton:hover {
    background-color: #ff0000;
    transition: 0.3s;
}

#nextCardButton {
    margin: auto;
    text-align: center;
    display: inline-block;
    background-color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 150px;
    height: 50px;
    border-radius: 5px;
}
#nextCardButton:hover {
    background-color: #ff0000;
    transition: 0.3s;
}