body {
    background-color: #ffffff;
    margin: 0px;
    height: 100%;
}

html {
    min-width: 100%;
    max-width: 900px;
    overflow: auto;
}

#deckHeader {
    text-align: center;
    border: 5px solid black;
}

#deckSelectorBody {
    width: auto;
    text-align: center;
    min-height: 80vh;
    padding: 0.5%;
    margin: 2%;
    border: 5px solid red;
    border-radius: 20px;
}
#deckSelectorBody > #individualDeck {
    display: inline-block;
}

#individualDeck {
    margin: 10px;
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #cccccc;
    position: relative;
    padding: 1.8rem;
    border: 2px solid black;
    transition: 0.5s ease-out;
    overflow: visible;
}
#individualDeck:hover {
    border-color: red;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.75);
}

#deckDetails {
    color: black;
    height: 100%;
    gap: 5em;
    display: grid;
    place-content: center;
}

#studyDeckButton {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: red;
    color: #ffffff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
#individualDeck:hover #studyDeckButton {
    transform: translate(-50%, 50%);
    opacity: 1;
}

#deckDescription {
    color: black;
}

#deckTitle {
    font-size: 1.5em;
    font-weight: bold;
}